$first-color: #222;
$second-color: #fff;
$third-color: rgb(42, 179, 197);

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lora:400italic');

$font-basic: 'Montserrat', sans-serif;
$font-additional: 'Lora:400italic', sans-serif;