.chooser {
    font-size: 1.5rem;
    font-family: $font-basic;
    color: $first-color;
    padding: 5vh;
}

.chooser-buttons {
    margin: 0 auto;
    width: 60vw;
    display: flex;
    justify-content: space-around;
}

button {
    color: $first-color;
    background-color: transparent;
    font-size: 1rem;
    font-family: $font-basic;
    border: 4px solid $third-color;
    border-radius: 1.6rem;
    padding: 1vh 2vw;
    text-align: center;
}

button:hover {
    background-color: $third-color;
    color: $second-color;
    cursor: pointer;
}

button:focus{
    outline: none;}
