body {
    margin: 0;
    padding: 0;
    font-family: $font-basic ;
    text-align: center;
    background-color: lighten($third-color, 30%);
}

.event-name {
  padding: 2vh;
  font-size: 4rem;
  color: $first-color;
  font-family: $font-additional; 
}

.event-name span {
  font-weight: 700;
}
