body {
    margin: 0;
    padding: 0;
    font-family: $font-basic ;
    text-align: center;
    background-color: lighten($third-color, 30%);
}

.event-name {
  margin: 4vh;
  font-size: 2rem;
  color: $first-color;
  font-family: $font-basic; 
}

.event-name span {
  color: darken($third-color, 25%);
  font-family: $font2;
  font-size: 5rem;
  word-spacing: 1rem;
  letter-spacing: 1rem;
}
